html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Kristen ITC;
  background-color: #89be89;/* fona krāsa */
   
}
.topnav {
  overflow: hidden;
  background-color: #7d6464;
  margin-top: 0px;
  display;flex;
  justify-content: space-around;
  margin-left: 200px;
}
.topnav a {
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 22px;

}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active{
  background-color: #04AA6D;
  color: white;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7d6464;
}
.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}
.sidebar a:hover {
  background-color: #ddd;
  color: black;
}
main {
  margin-left: 200px;
  padding: 0px 20px; 
  background-color: #319654;
}
 footer {
   background-color: #7d6464;
   color: white;
   text-align:center;
   padding: 20px;
   position:fixed;
   bottom:0;
   width:200%;
 }
button{
  background-color: #8285c4;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 50px;
  transition: backgroud-color 0.3s ease;
  border-radius: 12px; 
} 
button:hover{
  background-color: #ddd;
}
h1 {
  color: #ffc96b; 
  font-family: Kristen ITC;
  font-size:4pc ;
}
p{
   color:#060a74 ;
   font-size: 15px;
}
#saturs{
    background-color: #8d3f65;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
#saturs p{
  color: #e3cece;
  font-size: 16px;
}
#saturs img {
 display: block;
  margin: 8px;
  border-radius: 0auto;
}
  #tabula{
    background-color: #bdceab;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  #canva{
    background-color: #77c07a;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
#tabula table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid black;
  
}
#tabula td{
  padding: 10px;
  text-align: center;
}
  #tabula tr:nth-child(2){
  background-color: #b5b5b5;
  }
  #tabula tr:nth-child(4){
   background-color: #b5b5b5;
  }

 
