html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Kristen ITC', sans-serif;
  background-color: #f0f0f0; /* fona krāsa */
}

.topnav {
  overflow: hidden;
  background-color: #444;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  margin-left: 200px;
}

.topnav a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #444;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
  background-color: #ddd;
  color: black;
}

main {
  margin-left: 200px;
  padding: 20px; 
  background-color: #e6e6e6;
}

footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

button {
  background-color: #5a5ac4;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 12px; 
}

button:hover {
  background-color: #ddd;
  color: black;
  transform: scale(1.1);
}

h1 {
  color: #ff7b00; 
  font-family: 'Kristen ITC', sans-serif;
  font-size: 3em;
}

p {
  color: #003366;
  font-size: 18px;
}

#saturs {
  background-color: #993f65;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#saturs p {
  color: #f0e0e0;
  font-size: 16px;
}

#saturs img {
  display: block;
  margin: 8px auto;
  border-radius: 10px;
}

#tabula {
  background-color: #aaddaa;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#tabula table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid black;
}

#tabula th, #tabula td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

#tabula tr:nth-child(2) {
  background-color: #b5b5b5;
}

#tabula tr:nth-child(4) {
  background-color: #b5b5b5;
}

#canva {
  background-color: #77c07a;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}